In [21]:
import pandas as pd #первый пункт задачи

In [22]:
df_1 = pd.read_csv('YNDX_160101_161231 (1).csv')
df_1.head(5) # загрузка данных

     <DATE>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
0  20160104  100100  1148.9  1148.9  1148.9   1148.9      0
1  20160104  100200  1148.9  1148.9  1148.9   1148.9     50
2  20160104  100300  1149.0  1149.0  1149.0   1149.0     33
3  20160104  100400  1149.0  1149.0  1149.0   1149.0      4
4  20160104  100500  1153.0  1153.0  1153.0   1153.0      0

In [23]:
def mac(ind, df_1, max):
  # функция которая находит день с максимальной ценой акции на промежутке времени
  # и находит самую выгодную дату покупки акций для продажи в этот день
  if ind < len(df_1) - 1:
    ind_n = df_1[ind + 1:]['<HIGH>'].idxmax()
    for i in range(ind + 1, ind_n):
      if df_1.loc[i, '<VOL>'] > 0:
        if df_1.loc[ind_n, '<HIGH>'] * df_1.loc[i, '<VOL>'] - df_1.loc[i, '<LOW>'] * df_1.loc[i, '<VOL>'] > max:
          max = df_1.loc[ind_n, '<HIGH>'] * df_1.loc[i, '<VOL>'] - df_1.loc[i, '<LOW>'] * df_1.loc[i, '<VOL>']
          return (df_1.loc[i, '<DATE>'], df_1.loc[ind_n, '<DATE>'], df_1.loc[i, '<VOL>'], max, ind_n)
  else:
    return False

In [24]:
ind = -1
max = 0
res = mac(ind, df_1, max)
while bool(res):  #цикл который рассматривает все случаи выгодных покупок акций
  res_t = mac(ind, df_1, max)
  max = res[3]
  ind = res[4]
  res = mac(ind, df_1, max)
print('Дата покупки: ',res_t[0])
print('Количество акций для покупки: ',res_t[2])
print('Дата продажи: ',res_t[1])
print('Заработок: ',res_t[3])

Дата покупки:  20160104
Количество акций для покупки:  50
Дата продажи:  20160728
Заработок:  19704.999999999993